.cen1
{
width:800px;
height:auto;
border:1px;
position:absolute;
left:300px;
border-style:solid;
}

.header
{
width:800px;
height:70px;
border:1px;
border-style:solid;
}


.left
{
position:absolute;
width:140px;
height:500px;
top:72px;
border:1px;
border-style:solid;
}

.futter
{
position:absolute;
width:800px;
top:574;
border:1px;
border-style:solid;
height:70px;
}


.mid
{
position:absolute;
top:72px;
left:142px;
width:658px;
height:500px;
border:1px;
border-style:solid;
}

.box
{
float:left;
margin:20px;
width:190px;
height:110px;
border:1px;
border-style:solid;
}

.blk
{
clear:right;
position:absolute;
top:32px;
left:22px;
}

